.all{
  background-color:rgb(59, 55, 55);
  padding: 100px;
}
.box1{
  background-color: peachpuff;
  border-radius: 8px;
  padding:30px;
  margin:5px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 5px;
  box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.1);
  
  
  
}
.box2{
  background-color:rgb(223, 239, 244);
  border-radius: 8px;
  padding:30px;
  margin:5px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 5px;
  box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.1);
  
  
  
}
.boxes{
  display:flex;
  justify-content:space-around;
 

}
.button{
 border-radius: 8px;
  color: white;
  background-color: orange;
  border-color: azure;
  padding-right:35px;
  padding-left: 35px;
  padding-top:10px;
  padding-bottom: 10px;
  
}
.text{
  font-size: xx-large;
  color:white;
  text-align: center;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.txt{
  color:rgb(229, 123, 17);
}
.flex2{
  display:flex;
  justify-content: center;
}
.H1{
  padding-inline: 50px;
  
  

}
.H2{
  padding-inline: 50px;
  

}
.H3{
  padding-inline: 50px;
  

}
.H4{
  padding-inline: 50px;}
  .b{
   
    font-weight: bold;
    color:azure;
    
  }
  .boxes2{
    display:flex;
    justify-content:center;
  
}
.box11{
    border-radius: 8px;
    padding: 30px;
    
    margin:5px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 5px;
    box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.1);
    
}
.box22{
  background-color:rgb(198, 227, 236);
  border-radius: 8px;
  padding: 30px;
  margin:5px;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 5px;
  box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.1);
  

}
.tx{
  text-align: center;
  font-size:x-large;
  font-family: 'Roboto Slab Bold',serif;
  font-weight:900
 
}
.tx2{
  text-align: center;
  font-family: 'Roboto Slab Bold',serif;
  color:rgb(69, 66, 66);
  font-size: medium;
}
.b1{
  padding-left: 225px;
}
.b2{
  padding-left: 45px;
}
.b3{
  padding-left: 90px;
}
.button2{
  border-radius: 8px;
   color: white;
   background-color:blue;
   border-color: azure;
   padding-right:35px;
   padding-left: 35px;
   padding-top:10px;
   padding-bottom: 10px;
   
 }
 .flex2{
  display:flex;
  justify-content: space-between;
  justify-content: center;
 }
 .bg{
  
    background-image: url(https://cdn.sstatic.net/Img/product/teams/screens/illo-question.png?v=14c5863a5550), url(https://cdn.sstatic.net/Img/product/teams/screens/illo-home-search.png?v=1ccd850cd929);
    background-position: right bottom, left top;
    background-repeat: repeat, repeat;
    padding-left: 800px;
  
 }
 .bb{
  padding-left: 435px;
 }
 .flexx{
  display:flex;
  justify-content: center;
  background-color:black;;
 }
 .txx{
  text-align: center;
  color:white;
  font-size:x-large;
  font-family: 'Roboto Slab Bold',serif;
  font-weight:900
  
 
}
.bk{
   
  font-weight: bold;
  color:azure;
  padding-left: 24px;
  
}
.bkk{
  text-align: center;
   
  font-weight: bold;
  color:azure;
  padding-left: 24px;
  
}
.boxes2{
  display:flex;
  justify-content:space space-around;
}
.box111,.box222,.box333{
  border-radius: 8px;
  padding:30px;
  margin:5px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: 5px;
  box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.1);
  
}
.finalflex{
    
  display:flex;
  justify-content: space-around;
  background-color: black;
  color:#cccccc;
  padding: 40px;
}
.box11{
  background-color:peachpuff;
}
.box22{
  background-color:rgb(198, 227, 236);

}
